body {
    background-color: lavender;
}
h1{
    color: indigo;
    font-family: 'gabriola', serif;
    font-size: 41px;
    text-align: center;
}
h2, h3 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}